{% extends "main_template.html" %}

{% block title %}Add owner{% endblock %}

{% block main_content %}
<h1>Register owner to out base</h1>


Fill data:
<form id="add_owner_form" method="post" action="" novalidate>
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
</form>

<button type="submit" form="add_owner_form" value="Submit">
    <i class="fa-solid fa-paper-plane"></i> Submit
</button>

<button type="reset" form="add_owner_form" value="Reset">
    <i class="fa-solid fa-broom"></i> Reset
</button>

{% endblock %}