{% extends "main_template.html" %}

{% block title %}Show owners{% endblock %}

{% block main_content %}
    <h1>Show all owners</h1>

    <form action="/show_owners/" method="get">
        {% csrf_token %}
        <nav aria-label="...">
            <ul class="pagination">
                <select  name="items_per_page" required>
                    {% for value, key in owners_and_pages.items_per_page.items %}
                        <option class="page-link" value="{{ value }}" {{ key }}>{{ value }}</option>
                    {% endfor %}
                </select>

                <button class="page-link" style="margin-right: 50px;" type="submit">Select</button>

                {% for button in owners_and_pages.buttons %}
                    <li class="page-item {{ button.status }}">
                        <button class="page-link" type="submit" name="selected_page" value="{{ button.value }}">
                            {{ button.text }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </nav>            
    </form>

    <table class="table">
        <tr>
            <th>LP</th>
            <th>ID</th>
            <th>NAME</th>
            <th>PHONE</th>
            <th>ADDRESS</th>
        </tr>

        {% for owner in owners_and_pages.items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ owner.id }}</td>
                <td><a href="/watch_owner/?selected_owner_id={{ owner.id }}" >{{ owner.name }}</a></td>
                <td>{{ owner.phone }}</td>
                <td>{{ owner.address }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}