{% extends "main_template.html" %}

{% block title %}Show animals{% endblock %}

{% block main_content %}
    <h1>Show all animals</h1>

    <form action="/show_animals/" method="get">
        {% csrf_token %}
        <nav aria-label="...">
            <ul class="pagination">
                <select  name="items_per_page" required>
                    {% for value, key in animals_and_pages.items_per_page.items %}
                        <option class="page-link" value="{{ value }}" {{ key }}>{{ value }}</option>
                    {% endfor %}
                </select>

                <button class="page-link" style="margin-right: 50px;" type="submit">Select</button>

                {% for button in animals_and_pages.buttons %}
                    <li class="page-item {{ button.status }}">
                        <button class="page-link" type="submit" name="selected_page" value="{{ button.value }}">
                            {{ button.text }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </nav>            
    </form>

    <table class="table">
        <tr>
            <th>LP</th>
            <th>Animal name</th>
            <th>Owner name</th>
            <th>Animal age</th>
            <th>Animal type</th>
        </tr>

        {% for animal in animals_and_pages.items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ animal.name }}</td>
                <td>{{ animal.owner.name }}</td>
                <td>{{ animal.age }}</td>
                <td>{{ animal.get_type_display }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}