{% extends "main_template.html" %}

{% block title %}Show medical treatments{% endblock %}

{% block main_content %}
    <h1>Show all medical treatments</h1>

    

    <form action="/show_mt/" method="get">
        {% csrf_token %}
        <nav aria-label="...">
            <ul class="pagination">
                <select  name="items_per_page" required>
                    {% for value, key in mt_and_pages.items_per_page.items %}
                        <option class="page-link" value="{{ value }}" {{ key }}>{{ value }}</option>
                    {% endfor %}
                </select>

                <button class="page-link" style="margin-right: 50px;" type="submit">Select</button>

                {% for button in mt_and_pages.buttons %}
                    <li class="page-item {{ button.status }}">
                        <button class="page-link" type="submit" name="selected_page" value="{{ button.value }}">
                            {{ button.text }}
                        </button>
                    </li>
                {% endfor %}

                <li>
                    <!-- https://stackoverflow.com/questions/63099974/django-template-convert-datetime-local-format -->
                    <input class="page-link" style="margin-left: 50px;" type="datetime-local" name="start_time" value="{{filter_info.start_time|date:'Y-m-d'}}T{{filter_info.start_time|time:'H:i'}}">
                </li>

                <li>
                    <input class="page-link" style="margin-left: 50px;" type="datetime-local" name="stop_time" value="{{filter_info.stop_time|date:'Y-m-d'}}T{{filter_info.stop_time|time:'H:i'}}">
                </li>

                <li>
                    <input class="page-link" style="margin-left: 50px;" type="text" name="text_query" value="{{filter_info.text_query}}" placeholder="Owner query">
                </li>
            </ul>
        </nav>            
    </form>

    <table class="table">
        <tr>
            <th>LP</th>
            <th>Owner name</th>
            <th>Animal name</th>
            <th>Vet name</th>
            <th>Tag</th>
            <th>Description</th>
            <th>Date</th>
        </tr>

        {% for mt, index in mt_and_pages.ziped_items %}
            <tr>
                <td>{{ index }}</td>
                <td>{{ mt.owner.name }}</td>
                <td>{{ mt.animal.name }}</td>
                <td>{{ mt.vet_name }}</td>
                <td>{{ mt.tag }}</td>
                <td>{{ mt.description }}</td>
                <td>{{ mt.date }}</td>
            </tr>
        {% endfor %}

    </table>

    
    <form method="get" action="/download_mt/">
        {% csrf_token %}
        <input type="text" hidden name="selected_page" value="{{ filter_info.selected_page_number }}" >
        <input type="text" hidden name="items_per_page" value="{{ filter_info.items_per_page }}" >
        <input type="datetime-local" hidden name="start_time" value="{{filter_info.start_time|date:'Y-m-d'}}T{{filter_info.start_time|time:'H:i'}}" >
        <input type="datetime-local" hidden name="stop_time" value="{{filter_info.stop_time|date:'Y-m-d'}}T{{filter_info.stop_time|time:'H:i'}}">
        <input type="submit" class="page-link" name="submit" value="Download selected">
    </form>
{% endblock %}