{% extends "main_template.html" %}

{% block title %}Watch owner{% endblock %}

{% block main_content %}
    <h1>Watch selected owner details</h1>

    <hr class="mt-2 mb-3"/>

    <h2>{{ owner.name }}</h2>
    <h2>{{ owner.phone }}</h2>
    <h2>{{ owner.address }}</h2>

    <hr class="mt-2 mb-3"/>
    <h3>Register medical treatment for animal</h3>

    <form id="register_medical_treatments" action="/watch_owner/" method="post">
        {% csrf_token %}
        <input type="hidden" required name="form_name" value="register_medical_treatments" /> 
        <input type="hidden" required name="owner" value="{{ owner.id }}" /> 
        <input type="text" placeholder="Vet name" required name="vet_name" >
        <input type="text" placeholder="Tag" required name="tag" >
        <input type="text" placeholder="Description" required name="description" >

        <select name="animal_id" required>
            <option></option>
            {% for animal in owners_animals %}
                <option value="{{ animal.id }}">{{ animal.name }}</option>
            {% endfor %}
        </select>
    </form>

    <button type="submit" form="register_medical_treatments" value="Submit">
        <i class="fa-solid fa-paper-plane"></i> Submit
    </button>

    <hr class="mt-2 mb-3"/>
    <h3>Pets</h3>

    {% if owners_animals %}
        <table class="table">
            <tr>
                <th>NAME</th>
                <th>AGE</th>
                <th>TYPE</th>
                <th>Image</th>
            </tr>

            {% for animal in owners_animals %}
                <tr>
                    <td>{{ animal.name }}</td>
                    <td>{{ animal.age }}</td>
                    <td>{{ animal.get_type_display }}</td>

                    {% if animal.image %}
                        <td><img src="{{ animal.image.url}}" alt="connect" style="max-height:100px"></td>
                    {% else %}
                    <td><img src="/static/przychodnia/hotdog-solid.svg" alt="connect" style="max-height:100px"></td>
                    {% endif %}

                    
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form enctype="multipart/form-data" id="add_animal" action="/watch_owner/" method="post">
        {% csrf_token %}
        <input type="hidden" required name="owner" value="{{ owner.id }}" /> 
        <input type="hidden" required name="form_name" value="add_animal" /> 
        <input type="text" required placeholder="Name" name="name" />
        <input type="number" required placeholder="Age" name="age" />
        <select name="type" required>
            <option></option>
            <option value="d">Dog</option>
            <option value="c">Cat</option>
            <option value="h">Hamster</option>
            <option value="g">Guinea pig</option>
            <option value="z">Snake</option>
            <option value="o">Owl</option>
            <option value="r">Rat</option>
            <option value="r">House-elf</option>
        </select>
        <input type="file" name="image" accept="image/*" required="" id="id_image">
    </form>

    <button type="submit" form="add_animal" value="Submit">
        <i class="fa-solid fa-paper-plane"></i> Submit
    </button>

    <hr class="mt-2 mb-3"/>

    {% if medical_treatments %}
        <h3>Animals' medical treatments</h3>
        <table class="table">
            <tr>
                <th>Animal Name</th>
                <th>Vet name</th>
                <th>Tag</th>
                <th>Description</th>
                <th>Date</th>
            </tr>

            {% for mt in medical_treatments %}
                <tr>
                    <td>{{ mt.animal.name }}</td>
                    <td>{{ mt.vet_name }}</td>
                    <td>{{ mt.tag }}</td>
                    <td>{{ mt.description }}</td>
                    <td>{{ mt.date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <hr class="mt-2 mb-3"/>

{% endblock %}