{% extends "main_template.html" %}

{% block title %}Watch owner{% endblock %}

{% block main_content %}
    <h1>Watch selected owner details</h1>

    <hr class="mt-2 mb-3"/>

    <table style="margin: 0px;">
        <tr>
            <th> <label>Name:</label> </th>
            <th> <h2>{{ owner.name }}</h2> </th>
        </tr>
        <tr>
            <th> </label> Phone:</label> </th>
            <th> <h2>{{ owner.phone }}</h2> </th>
        </tr>
        <tr>
            <th> <label>Address:</label> </th>
            <th> <h2>{{ owner.address }}</h2> </th>
        </tr>
    </table>

    <hr class="mt-2 mb-3"/>
    <h3>Register medical treatment for animal</h3>

    <style>
        .input_text {
            width: 250px; 
            height: 30px; 
            margin: 5px;
        }
    </style>

    <form id="register_medical_treatments" action="/watch_owner/" method="post">
        {% csrf_token %}
        <input type="hidden" required name="form_name" value="register_medical_treatments" /> 
        <input type="hidden" required name="owner" value="{{ owner.id }}" /> 
        
        
        <!-- <input class="input_text" type="text" placeholder="Vet name" required name="vet_name" > -->
        <select class="input_text" name="vet_id" required placeholder="Vet name">
            <option></option>
            {% for vet in vets %}
                <option value="{{ vet.id }}">{{ vet.name }}</option>
            {% endfor %}
        </select>


        <input class="input_text" type="text" placeholder="Tag" required name="tag" >
        <select class="input_text" name="animal_id" required>
            <option></option>
            {% for animal in owners_animals %}
                <option value="{{ animal.id }}">{{ animal.name }}</option>
            {% endfor %}
        </select>
        <br>
        <textarea type="text" placeholder="Description" required name="description" style="margin: 5px; height: 200px; width: 780px;"></textarea>
    </form>

    <button style="margin: 5px;" type="submit" form="register_medical_treatments" value="Submit">
        <i class="fa-solid fa-paper-plane"></i> Submit
    </button>

    <hr class="mt-2 mb-3"/>
    <h3>Pets</h3>

    {% if owners_animals %}
        <table class="table">
            <tr>
                <th>NAME</th>
                <th>AGE</th>
                <th>TYPE</th>
                <th>Image</th>
            </tr>

            {% for animal in owners_animals %}
                <tr>
                    <td>{{ animal.name }}</td>
                    <td>{{ animal.age }}</td>
                    <td>{{ animal.get_type_display }}</td>

                    {% if animal.image %}
                        <td><img src="{{ animal.image.url}}" alt="connect" style="max-height:100px"></td>
                    {% else %}
                    <td><img src="/static/przychodnia/hotdog-solid.svg" alt="connect" style="max-height:100px"></td>
                    {% endif %}

                    
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <form enctype="multipart/form-data" id="add_animal" action="/watch_owner/" method="post">
        {% csrf_token %}
        <input type="hidden" required name="owner" value="{{ owner.id }}" /> 
        <input type="hidden" required name="form_name" value="add_animal" /> 
        <input class="input_text" type="text" required placeholder="Name" name="name" />
        <input class="input_text" type="number" required placeholder="Age" name="age" />
        <select class="input_text" name="type" required>
            <option></option>
            <option value="d">Dog</option>
            <option value="c">Cat</option>
            <option value="h">Hamster</option>
            <option value="g">Guinea pig</option>
            <option value="z">Snake</option>
            <option value="o">Owl</option>
            <option value="r">Rat</option>
            <option value="r">House-elf</option>
        </select>
        <br>
        <input class="input_text" type="file" name="image" accept="image/*" required="" id="id_image" oninput="pic.src=window.URL.createObjectURL(this.files[0])">
        <img id="pic" style="max-height: 300px;" />
    </form>

    <button style="margin: 5px;" type="submit" form="add_animal" value="Submit">
        <i class="fa-solid fa-paper-plane"></i> Submit
    </button>

    <hr class="mt-2 mb-3"/>

    {% if medical_treatments %}
        <h3>Animals' medical treatments</h3>
        <table class="table">
            <tr>
                <th>Animal Name</th>
                <th>Vet name</th>
                <th>Tag</th>
                <th>Description</th>
                <th>Date</th>
            </tr>

            {% for mt in medical_treatments %}
                <tr>
                    <td>{{ mt.animal.name }}</td>
                    <td>{{ mt.vet.name }}</td>
                    <td>{{ mt.tag }}</td>
                    <td>{{ mt.description }}</td>
                    <td>{{ mt.date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <hr class="mt-2 mb-3"/>

{% endblock %}